<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>371316088727-mvplm7vgt3lgd8hn5pv2cu4hdvg5cif4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371316088727-mvplm7vgt3lgd8hn5pv2cu4hdvg5cif4</string>
	<key>API_KEY</key>
	<string>AIzaSyATs4tQW0XYHJ_BqjyWEXDhFffn6M7JT64</string>
	<key>GCM_SENDER_ID</key>
	<string>371316088727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sohamnagawanshi.Slime</string>
	<key>PROJECT_ID</key>
	<string>slime-a5ef3</string>
	<key>STORAGE_BUCKET</key>
	<string>slime-a5ef3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:371316088727:ios:ccf16f298ee2d7282d6ed2</string>
</dict>
</plist>
